.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  flex-direction: row;
  width: 100vw;
}

label {
  width: 350px;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
}