
body {
  margin:0;
  height: 100vh;
  background-color: #282D35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  height: 75px;
}
.navItems {
  list-style: none;
  display: flex;
}
.navItems > li {
  padding: 10px;
}

.title {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 800;
  font-size: 34px;
}

button {
  text-align: center;
  font-weight: 600;
  font-size: large;
  border: none;
  color: white;
}
.redButton {
  background-color: #ee4c50;
  padding: 10px;
}
.blueButton {
  background-color: #61DAFB;
  padding: 10px;
  color: black;
}

.fullComponent {
  padding: 57px 27px;
  color: white;
  font-size: large;
  font-weight: 500;
}

.dropZone {
  border: 5px dotted white;
  text-align: center;
  width: 300px;
  height: 250px;
  background-color:black;
  padding: 20px
}
.dragText {
  margin-top: 40%;
}

img {
  height: 200px;
  width: auto;
  border: white solid 3px;
  margin: 10px;
}
.preview {
  position: relative;
}
.previewText {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 10px;
  font-size: small;
}
.slideshowPreview {
  background-color: #21222A;
}

/*Checkmark Stuff*******************************************/
.container {
  display: block;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
  padding-left: 26px;
  margin-left: 10px;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
}
.container input:checked ~ .checkmark {
  background-color: #ee4c50;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/************************************************/

.top {
  margin-top: 1%;
}
.bottom {
  margin-bottom: 1%;
}

.sendButton {
  background-color: #ee4c50;
  padding: 12px;
  margin-top: 1%;
  margin-bottom: 2%;
}