body {
  margin: 0;
  background-color: #282d35;
}

/*NAV STUFF**********************************/

header {
  background-color: #21222a;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 20px 0px black;
  justify-content: space-between;
  padding: 1%;
  height: auto;
}
.navItems {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.titleLi {
  margin-right: auto;
}
.title {
  margin: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 250%;
}
.subtitle {
  margin: auto;
  font-size: 150%;
  color: #61dafb;
  font-style: italic;
}
/**********************************************/

/*BUTTONS**************************************/
button {
  text-align: center;
  font-weight: 600;
  font-size: large;
  border: none;
  color: white;
}
.redButton {
  background-color: #ee4c50;
  padding: 11.5px;
  margin-right: 20px;
}
.blueButton {
  background-color: #61dafb;
  padding: 10px;
  color: black;
  margin-right: 20px;
}
/*****************************************************/

/*ImageUploader****************************************/
.fullComponent {
  padding: 30px;
  color: white;
  font-size: large;
  font-weight: 500;
}
.dropZone {
  margin: 0 auto;
  text-align: center;
  border: 5px dotted white;
  text-align: center;
  width: 50vw;
  height: 250px;
  background-color: black;
  padding: 20px;
}
.dragText {
  margin: auto 0;
}
/*******************************************************/

/*ImagePreviewer*****************************************/
img {
  height: 200px;
  width: auto;
  border: white solid 3px;
  margin: 10px;
  margin-bottom: 0px;
}
.preview {
  position: relative;
}
.previewText {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 10px;
  font-size: small;
}
.timeBox {
  margin-left: 10px;
}
.timeBox:focus {
  background-color: lightgray;
}
.imagePreviewer {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: auto;
}
.deleteButton {
  background-color: #ee4c50;
  text-align: center;
  font-weight: 400;
  font-size: small;
  margin-left: 5px;
  padding: 3px;
}
.timeDeleteSpan {
  display: block;
}
/******************************************************/

/*Checkmark Stuff*******************************************/
.container {
  display: block;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
  padding-left: 26px;
  margin-left: 10px;
}

.checkboxes {
  float: right;
  /* margin-bottom: 1%; */
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
}
.container input:checked ~ .checkmark {
  background-color: #ee4c50;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/************************************************/

.top {
  margin-top: 1%;
}
.bottom {
  margin-bottom: 1%;
}

.sendButton {
  background-color: #ee4c50;
  float: right;
  padding: 12px;
  margin-top: 1%;
  margin-bottom: 2%;
}
.slideshowButton {
  background-color: #ee4c50;
  padding: 12px;
  margin-top: 1%;
  margin-bottom: 2%;
  /* margin-left: 2%; */
}
.slideshowPreview {
  background-color: #21222a;
  padding: 20px;
}
.titleBox:focus {
  background-color: lightcyan;
}

.titleBox {
  font-size: large;
  font-weight: 600;
}
